@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("./fonts/Roboto/RobotoCondensed-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: Roboto-Bold;
}

h3,
h4,
h5,
p,
button,
a {
  font-family: Roboto;
}
